body{
    background-color: grey;
    
}

#header {
    background-color: #cff;
    font-size:2em;
    text-align: center;
    border: 2px solid black;
    height:50px;
    width: 100%;

}
#left_col {
    
    background-color: #ddf;
    width:35%;
    height: 200px;
    float:left;
    border: 2px solid black;
    margin-left: 10px;
    margin-top:10px;
    margin-bottom: 10px;
}
#right_col {
    background-color: #fdd;
    width:59%;
    height: 200px;
    float:left;
     border: 2px solid black;
    margin-left: 10px;
    margin-top:10px;
    margin-bottom: 10px;
}
#footer {
    
   font-size:2em;
    text-align: center;
    border: 2px solid black;
    height:50px;
    width: 100%;
   
    clear:both;
    background-color: #ffc;
}